<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebunzoneDishesByOrdrBatch</key>
	<string>zoneDishes/unzoneDishesByOrdrBatch</string>
	<key>ZCsetDeliveryAddress</key>
	<string>setDeliveryAddress</string>
	<key>ZCquickFood</key>
	<string>quickFood</string>
	<key>ZCpListResv</key>
	<string>pListResv</string>
	<key>getOrderByAuthCode</key>
	<string>getOrderByAuthCode</string>
	<key>ZCpChangeResv</key>
	<string>pChangeResv</string>
	<key>ZCTmpacct</key>
	<string>pTmpacct</string>
	<key>ZCTmpacctPost</key>
	<string>pTmpacctPost</string>
	<key>ZCequipmentCoding</key>
	<string>equipmentCoding</string>
	<key>ZCpClearTable</key>
	<string>pClearTable</string>
	<key>ZCSetEstimatesFoodList</key>
	<string>SetEstimatesFoodList</string>
	<key>ZCpModiOrdrCnt</key>
	<string>pModiOrdrCnt</string>
	<key>updateDataVersion</key>
	<string>updateDataVersion</string>
	<key>getTableColor</key>
	<string>getTableColor</string>
	<key>queryTyp</key>
	<string>queryTyp</string>
	<key>productEstimate</key>
	<string>productEstimate</string>
	<key>queryReserveTableNum</key>
	<string>queryReserveTableNum</string>
	<key>changeTableNum</key>
	<string>changeTableNum</string>
	<key>reserveTableNum</key>
	<string>reserveTableNum</string>
	<key>cancelReserveTableNum</key>
	<string>cancelReserveTableNum</string>
	<key>callNumber</key>
	<string>callNumber</string>
	<key>EstimatesFoodList</key>
	<string>EstimatesFoodList</string>
	<key>takeNO</key>
	<string>takeNO</string>
	<key>cancelSeat</key>
	<string>cancelSeat</string>
	<key>queryNO</key>
	<string>queryNO</string>
	<key>queryCardByCardNo</key>
	<string>queryCardByCardNo</string>
	<key>queryCardByMobTel</key>
	<string>queryCardByMobTel</string>
	<key>ComputingServicefee</key>
	<string>ComputingServicefee</string>
	<key>ZCuserActm</key>
	<string>userActm</string>
	<key>ZCcardPayment</key>
	<string>cardPayment</string>
	<key>ZCcancelActm</key>
	<string>cancelActm</string>
	<key>ZCpaymentFinish</key>
	<string>paymentFinish</string>
	<key>queryAllOrders</key>
	<string>queryAllOrders</string>
	<key>WebzoneDishesByOrdrBatch</key>
	<string>zoneDishes/zoneDishesByOrdrBatch</string>
	<key>WebreadCardByCardNo_pad</key>
	<string>cardController/readCardByCardNo_pad</string>
	<key>WebreadCardByPhoneNo</key>
	<string>cardController/readCardByPhoneNo_pad</string>
	<key>WebaddHand</key>
	<string>userInfoController/addHand</string>
	<key>WebcancelMarketing_Cut</key>
	<string>marketingInfoController/cancelMarketing_Cut</string>
	<key>WebcancelFolioPayment</key>
	<string>saleInfoController/cancelFolioPayment</string>
	<key>WebexecuteMarketing</key>
	<string>marketingInfoController/executeMarketing</string>
	<key>WebcommitFolioPayment</key>
	<string>saleInfoController/commitFolioPayment</string>
	<key>WebgetFolioPaymentList</key>
	<string>saleInfoController/getFolioPaymentList</string>
	<key>coupon_kind</key>
	<string>marketingInfoController/getActtypForPad</string>
	<key>specialremark</key>
	<string>wareInfoController/getAllSpecialremarkListFpk_store</string>
	<key>coupon_main</key>
	<string>marketingInfoController/getActmForPad</string>
	<key>settlementoperate</key>
	<string>marketingInfoController/getSettlementForPad</string>
	<key>WebcancelDelFolioFromVbcode</key>
	<string>saleInfoController/cancelDelFolioFromVbcode</string>
	<key>WebclearSitedefine</key>
	<string>tableInfoController/clearSitedefine</string>
	<key>WebjoinOpenSitedefinehand</key>
	<string>tableInfoController/joinOpenSitedefinehand</string>
	<key>WebprintSelectBillFolio</key>
	<string>saleInfoController/printSelectBillFolio</string>
	<key>presentreason</key>
	<string>wareInfoController/getAllPresentreasonListFpk_store</string>
	<key>WebcommitUrgeOrdrhand</key>
	<string>saleInfoController/commitUrgeOrdrhand</string>
	<key>WebgetOrderList</key>
	<string>saleInfoController/getOrdrListFvtablenum</string>
	<key>WebSend</key>
	<string>saleInfoController/commitOrdrPad</string>
	<key>WebChangeTable</key>
	<string>tableInfoController/changeSitedefinehand</string>
	<key>WebgetFolioNo</key>
	<string>saleInfoController/getFolioListFromTableNum</string>
	<key>WebOpenTable</key>
	<string>tableInfoController/openSitedefine</string>
	<key>WebLogin</key>
	<string>userInfoController/padLogin</string>
	<key>WebStart</key>
	<string>tableInfoController/isOpenSitedefinehand</string>
	<key>PrivateFujia</key>
	<string>wareInfoController/getRedeFineListFpk_store</string>
	<key>FoodFuJia</key>
	<string>wareInfoController/getAllRedeFineListFpk_store</string>
	<key>webListTable</key>
	<string>tableInfoController/getAllSitedefine_3chListpad</string>
	<key>package</key>
	<string>wareInfoController/getItemPrgPackageListFStore</string>
	<key>class</key>
	<string>wareInfoController/getAllClassListFpk_Store</string>
	<key>food</key>
	<string>wareInfoController/getAllItemPrgdListFpk_store</string>
	<key>state</key>
	<string>tableInfoController/getStoreTablesUseStateList</string>
	<key>products_sub</key>
	<string>wareInfoController/getPackgetdlListFpk_store</string>
	<key>storearear_mis</key>
	<string>tableInfoController/getStoreArear_3chList</string>
	<key>registerDeviceId</key>
	<string>registerDeviceId</string>
	<key>ZCpPrintquery</key>
	<string>pPrintquery</string>
	<key>ZCqueryTables</key>
	<string>queryTables</string>
	<key>ZCcancelPayment</key>
	<string>cancelPayment</string>
	<key>ZCqueryPayments</key>
	<string>queryPayments</string>
	<key>ZCuserPayment</key>
	<string>userPayment</string>
	<key>ZCmodifyPax</key>
	<string>modifyPax</string>
	<key>ZCgetFolioNo</key>
	<string>getFolioNo</string>
	<key>ZCdrawItems</key>
	<string>drawItems</string>
	<key>ZCpGogo</key>
	<string>pGogo</string>
	<key>ZCcheckFoodAvailable</key>
	<string>pFreeGet</string>
	<key>ZCSignTeb</key>
	<string>pChangeTable</string>
	<key>ZCLogin</key>
	<string>pLogin</string>
	<key>ZCStart</key>
	<string>pStart</string>
	<key>ZCListTable</key>
	<string>pListTable</string>
	<key>ZCPrintquery</key>
	<string>pPrintquery</string>
	<key>reCallElide</key>
	<string>reCallElide</string>
	<key>queryWholeProducts</key>
	<string>queryWholeProducts</string>
	<key>callElide</key>
	<string>callElide</string>
	<key>queryCompletely</key>
	<string>queryCompletely</string>
	<key>soldOut</key>
	<string>soldOut</string>
	<key>logout</key>
	<string>loginOut</string>
	<key>queryProduct</key>
	<string>queryProduct</string>
	<key>combineTable</key>
	<string>combineTable</string>
	<key>cancleProducts</key>
	<string>cancleProducts</string>
	<key>ComputingServicefee - 2</key>
	<string>ComputingServicefee</string>
	<key>cancleUserPayment - 2</key>
	<string>cancleUserPayment</string>
	<key>pushWeChatCheckOut</key>
	<string>pushWeChatCheckOut</string>
	<key>cancleUserCounp - 2</key>
	<string>cancleUserCounp</string>
	<key>onelineQueryCardByCardNo</key>
	<string>onelineQueryCardByCardNo</string>
	<key>scanCode</key>
	<string>scanCode</string>
	<key>onelineQueryCardByMobTel</key>
	<string>onelineQueryCardByMobTel</string>
	<key>userCounp - 2</key>
	<string>userCounp</string>
	<key>onelineCardOutAmt</key>
	<string>onelineCardOutAmt</string>
	<key>userPayment</key>
	<string>userPayment</string>
	<key>querySqlInterface</key>
	<string>querySqlInterface</string>
	<key>specialRemark</key>
	<string>specialRemark</string>
	<key>ProductsFinish</key>
	<string>suppProductsFinish</string>
	<key>PrintOrder</key>
	<string>priPrintOrder</string>
	<key>changTableState</key>
	<string>changTableState</string>
	<key>checkAuth</key>
	<string>checkAuth</string>
	<key>getOrdersBytabNum</key>
	<string>getOrdersBytabNum</string>
	<key>baseUrl</key>
	<string>http://61.174.28.122:8010/cmenu/CmenuServices.asmx/</string>
	<key>pChuck</key>
	<string>pChuck</string>
	<key>pEnterSubscribeTab</key>
	<string>pEntersubscribetabC</string>
	<key>pFreeGet</key>
	<string>sendc</string>
	<key>pGogo</key>
	<string>callPubitem</string>
	<key>pGotoTab</key>
	<string>pGotoTab</string>
	<key>pListTable</key>
	<string>listTables</string>
	<key>pOver</key>
	<string>pOver</string>
	<key>pListSubscribeTab</key>
	<string>pListsubscribetabC</string>
	<key>pPrintQuery</key>
	<string>pPrintquery</string>
	<key>pQuery</key>
	<string>pQuery</string>
	<key>pRebate</key>
	<string>pRebateC</string>
	<key>pSendTab</key>
	<string>pSendtab</string>
	<key>pSignTeb</key>
	<string>changeTable</string>
	<key>pStart</key>
	<string>startc</string>
	<key>pCommentFood</key>
	<string>pSubmitItemEvaluation</string>
	<key>pGetFoodComment</key>
	<string>pGetItemEvaluation</string>
	<key>pGetFoodVideo</key>
	<string>pGetItemVideoPath</string>
	<key>pListSubscribeOfTable</key>
	<string>pListsubscribetab</string>
	<key>pListResv</key>
	<string>pListResv</string>
	<key>pLoginUser</key>
	<string>login</string>
	<key>checkFoodAvailable</key>
	<string>sendc</string>
	<key>cancleUserPayment</key>
	<string>cancleUserPayment</string>
	<key>cancleUserCounp</key>
	<string>cancleUserCounp</string>
	<key>userCounp</key>
	<string>userCounp</string>
</dict>
</plist>
