<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>presentreason</key>
	<dict>
		<key>VCode</key>
		<string>vcode</string>
		<key>VName</key>
		<string>vname</string>
		<key>VInit</key>
		<string>vinit</string>
		<key>pk_presentreason</key>
		<string>pk_presentreason</string>
		<key>Enablestate</key>
		<string>enablestate</string>
	</dict>
	<key>specialremark</key>
	<dict>
		<key>Id</key>
		<string>vcode</string>
		<key>DES</key>
		<string>vname</string>
		<key>PK_SPECIALREMARK</key>
		<string>pk_specialremark</string>
		<key>INIT</key>
		<string>vinit</string>
		<key>STATE</key>
		<string>enablestate</string>
	</dict>
	<key>class</key>
	<dict>
		<key>pk_marsaleclass</key>
		<string>pk_marsaleclass</string>
		<key>pk_father</key>
		<string>pk_father</string>
		<key>DES</key>
		<string>name</string>
		<key>GRP</key>
		<string>code</string>
	</dict>
	<key>food</key>
	<dict>
		<key>vistemp</key>
		<string>vistemp</string>
		<key>prodreqaddflag</key>
		<string>prodreqaddflag</string>
		<key>vreqredefine</key>
		<string>vreqredefine</string>
		<key>ITEM</key>
		<string>pk_pubitem</string>
		<key>INIT</key>
		<string>vinit</string>
		<key>CLASS</key>
		<string>vgrp</string>
		<key>PRICE</key>
		<string>nprice</string>
		<key>ITCODE</key>
		<string>vcode</string>
		<key>UNIT</key>
		<string>vunit</string>
		<key>UNIT2</key>
		<string>vunit2</string>
		<key>UNIT3</key>
		<string>vunit3</string>
		<key>UNIT4</key>
		<string>vunit4</string>
		<key>UNIT5</key>
		<string>vunit5</string>
		<key>PRICE2</key>
		<string>nprice2</string>
		<key>PRICE3</key>
		<string>nprice3</string>
		<key>PRICE4</key>
		<string>nprice4</string>
		<key>PRICE5</key>
		<string>nprice5</string>
		<key>DES</key>
		<string>vname</string>
	</dict>
	<key>state</key>
	<dict>
		<key>enableState</key>
		<string>enableState</string>
		<key>vname</key>
		<string>vname</string>
		<key>vuseColor</key>
		<string>vuseColor</string>
		<key>vcode</key>
		<string>vcode</string>
	</dict>
	<key>storearear_mis</key>
	<dict>
		<key>AREARID</key>
		<string>pk_storearear</string>
		<key>TBLNAME</key>
		<string>vname</string>
	</dict>
	<key>products_sub</key>
	<dict>
		<key>PCODE1</key>
		<string>vcode</string>
		<key>PRICE1</key>
		<string>npackageprice</string>
		<key>PCODE</key>
		<string>pk_pubpack</string>
		<key>SUBID</key>
		<string>pk_pubitem</string>
		<key>PNAME</key>
		<string>vname</string>
		<key>UNIT</key>
		<string>vunit</string>
		<key>defualtS</key>
		<string>bmain</string>
		<key>PRODUCTTC_ORDER</key>
		<string>pk_package</string>
		<key>MINCNT</key>
		<string>imincount</string>
		<key>MAXCNT</key>
		<string>imaxcount</string>
		<key>GROUPTITLE</key>
		<string>vshowinfo</string>
		<key>NADJUSTPRICE</key>
		<string>nadjustprice</string>
	</dict>
	<key>package</key>
	<dict>
		<key>ITCODE</key>
		<string>vcode</string>
		<key>ITEM</key>
		<string>pk_pubpack</string>
		<key>UNIT</key>
		<string>vsnodes</string>
		<key>DES</key>
		<string>vname</string>
		<key>PRICE</key>
		<string>nprice</string>
		<key>INIT</key>
		<string>vinit</string>
		<key>TCMONEYMODE</key>
		<string>&lt;1</string>
		<key>CLASS</key>
		<string>&lt;88</string>
		<key>ISTC</key>
		<string>&lt;1</string>
	</dict>
	<key>FoodFuJia</key>
	<dict>
		<key>FOODFUJIA_ID</key>
		<string>vitcode</string>
		<key>FoodFuJia_Des</key>
		<string>vname</string>
		<key>Fprice</key>
		<string>nprice1</string>
		<key>INIT</key>
		<string>vinit</string>
		<key>MAXCNT</key>
		<string>maxcount</string>
		<key>MINCNT</key>
		<string>mincount</string>
		<key>rgrp</key>
		<string>vrgrp</string>
		<key>PRODUCTTC_ORDER</key>
		<string>vrgrp</string>
		<key>typmincount</key>
		<string>typmincount</string>
		<key>typvcode</key>
		<string>typvcode</string>
		<key>typmaxcount</key>
		<string>typmaxcount</string>
		<key>typvname</key>
		<string>typvname</string>
		<key>pk_redefine</key>
		<string>pk_redefine</string>
	</dict>
	<key>PrivateFujia</key>
	<dict>
		<key>pk_redefine</key>
		<string>pk_redefine</string>
		<key>PCODE</key>
		<string>pk_pubitem</string>
		<key>typvname</key>
		<string>typvname</string>
		<key>typmaxcount</key>
		<string>typmaxcount</string>
		<key>typvcode</key>
		<string>typvcode</string>
		<key>typmincount</key>
		<string>typmincount</string>
		<key>PRODUCTTC_ORDER</key>
		<string>vrgrp</string>
		<key>rgrp</key>
		<string>vrgrp</string>
		<key>MINCNT</key>
		<string>mincount</string>
		<key>MAXCNT</key>
		<string>maxcount</string>
		<key>INIT</key>
		<string>vinit</string>
		<key>Fprice</key>
		<string>nprice1</string>
		<key>FoodFuJia_Des</key>
		<string>vname</string>
		<key>FOODFUJIA_ID</key>
		<string>vitcode</string>
	</dict>
	<key>coupon_kind</key>
	<dict>
		<key>KINDID</key>
		<string>pk_acttyp</string>
		<key>NAM</key>
		<string>vname</string>
	</dict>
	<key>coupon_main</key>
	<dict>
		<key>ID</key>
		<string>pk_actm</string>
		<key>NAM</key>
		<string>vname</string>
		<key>CODE</key>
		<string>vcode</string>
		<key>KINDID</key>
		<string>pk_acttyp</string>
		<key>ISSHOW</key>
		<string>showinpad</string>
	</dict>
	<key>settlementoperate</key>
	<dict>
		<key>OPERATE</key>
		<string>vcode</string>
		<key>OPERATENAME</key>
		<string>vname</string>
		<key>OPERATEVALUE</key>
		<string>noperatev</string>
		<key>OPERATEGROUPID</key>
		<string>igroupid</string>
	</dict>
</dict>
</plist>
